# Ignore until assets are cleaned up
__3D-World
__Notes
__Sound-Files
#__Sprites/Menu
__Sprites/NPCs
__Sprites/Obsolete
__Sprites/Wiki

# Sprites
__Sprites/Enemies/*old*
__Sprites/Menu/SCENE_WORLD_MAP/World_Map.psd

# Ignore standard dev kit files
Binaries
Engine
UDKGame
Development/Flash
Development/Src/Core
Development/Src/Engine
Development/Src/GameFramework
Development/Src/GFx*
Development/Src/IpDrv
Development/Src/MyMod
Development/Src/Online*
Development/Src/Substance*
Development/Src/UDK*
Development/Src/UnrealEd
Development/Src/WinDrv

# Ignore links to legacy installers
*.lnk
*trash*
ROTT-Alpha-*
bfg-1.13.1.jar